<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ADN Node.js Server Sample</title>

    <!-- External libraries -->
    <script src="https://code.jquery.com/jquery-2.1.2.js"></script><!-- jquery-2.1.2.min.js -->

    <!-- Autodesk View & Data API -->
    <link type="text/css" rel="stylesheet" href="https://developer.api.autodesk.com/viewingservice/v1/viewers/style.css" />
    <script src="https://developer.api.autodesk.com/viewingservice/v1/viewers/viewer3D.min.js"></script>

    <!-- Our scripts -->
    <link rel="stylesheet" type="text/css" href="/style.css" />

    <script>
        var oViewer =null ;
        $(document).ready (function () {
            var options ={ 'document': '<%= urn %>', 'accessToken': '<%= accessToken %>', 'env': 'AutodeskProduction' } ;
            //oViewer =new Autodesk.Viewing.Viewer3D ($("#viewer") [0], {}) ; // No toolbar
            oViewer =new Autodesk.Viewing.Private.GuiViewer3D ($("#viewer") [0], {}) ; // With toolbar
            Autodesk.Viewing.Initializer (options, function () {
                oViewer.initialize () ;
                loadDocument (oViewer, options) ;
            }) ;
        }) ;

        function loadDocument (viewer, options) {
            if ( options.document.substring (0, 4) === 'urn:' )
                options.document =options.document.substring (4) ;

            Autodesk.Viewing.Document.load ('urn:' + options.document, //options.accessToken,
                    function (doc) { // onLoadCallback
                        var geometryItems =[] ;
                        geometryItems =Autodesk.Viewing.Document.getSubItemsWithProperties (doc.getRootItem (), { "type" : "geometry", "role" : "3d" }, true) ;
                        if ( geometryItems.length > 0 )
                            oViewer.load (doc.getViewablePath (geometryItems [0])) ;
                    },
                    function (errorMsg) { // onErrorCallback
                        alert("Load Error: " + errorMsg) ;
                    }
            ) ;
        }
    </script>
</head>

<body>

    <div id="project">

        <hr />
        <h3>LMV Node.js Sample</h3>
        <div id="viewer"></div>
        <br />

        <hr />
        <h3>Edit dependencies</h3>
        <div>
            <div class="left">Click and drag new dependencies from the orange square in each element. Click on a connection to delete it.</div>
            <div class="right"><a href="#" onclick="autoArrange () ;"><img src="/img/refresh.png" width="20" /></a></div>
            <div class="clear"></div>
        </div>
        <div id="dependencies-editor-area" class="dependencies-editor statemachine">
            <div class="w" id="lmv-root">LMV ROOT<div class="ep"></div></div>
        </div>
        <br />

    </div>



</body>
</html>